body {
  background: black;
}
p {
  color: white;
  font-family: arial;
  font-size:20 px;
}
h1 {
  font-weight: bold;
  color: white;
  font-family: Georgia;
  font-size: 30 px;
}
h3 {
  color: white;
  font-family: Georgia;
  font-size: 30 px;
}
h2 {
  color:white;
  font-family: Georgia;
  font-size: 30 px;
}
ul {
  color:white;
  font-family: arial;
  font-size:20 px;
}
ol {
  color:white;
  font-family: arial;
  font-size: 20 px;
}
img {
  width:800px;
  border-radius: 50 px;
}

.first > p {
  font-family: inherit;
  font-size: 30 px;
  }

.contact > p {
  font-family:cursive;
  font-size: 30 px;
  text-align: center;
}

.blog > ol {
  font-family:fantasy;
}
